.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #110C00;
    color: #fff;
    height: 80px;
}
.logo {
    display: flex;
    gap: 11px;
    color: #fff;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.nav-links {
    display: flex;
    gap: 3.125rem;
    align-items: center;
}
.nav-link {
    color: #fff;
    font-weight: 600;
}
.nav-link:hover {
    color: #FBAF00;
}
.nav-link_btn {
    font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  border-bottom-left-radius:30px;
  border-top-right-radius: 30px;
  border: none;
}
.btn {
    color: #FFF;
  background-color: #FBAF00;
  border: 1px solid #FBAF00;
  box-shadow: 6px 6px 0px 0px #FFF;
-webkit-box-shadow: 6px 6px 0px 0px #FFF;
-moz-box-shadow: 6px 6px 0px 0px #FFF;
}
.btn:hover {
    color: #251A00;
    background-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 6px 6px 0px 0px #FBAF00;
  -webkit-box-shadow: 6px 6px 0px 0px #FBAF00;
  -moz-box-shadow: 6px 6px 0px 0px #FBAF00;
  transition: all ease-in-out 0.5s;
}
.btn-inverse {
    color: #251A00;
  background-color: #FFF;
  border: 1px solid #FFF;
  box-shadow: 6px 6px 0px 0px #FBAF00;
-webkit-box-shadow: 6px 6px 0px 0px #FBAF00;
-moz-box-shadow: 6px 6px 0px 0px #FBAF00;
}
.btn-inverse:hover {
    color: #FFF;
  background-color: #FBAF00;
  border: 1px solid #FBAF00;
  box-shadow: 6px 6px 0px 0px #FFF;
-webkit-box-shadow: 6px 6px 0px 0px #FFF;
-moz-box-shadow: 6px 6px 0px 0px #FFF; 
transition: all ease-in-out 0.5s;
}